<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deserunt tempora nobis provident quaerat, id impedit debitis enim repudiandae, magnam doloribus eius eum maiores dolorum exercitationem quia voluptates, quas sed?</p>
        </div>
    </div>

</div>
<!--Loading Spinner-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!--Error Message-->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">

                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        
            </div>
        </div>
    </div>

</div>

<!--Create Contact Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.name" class="form-control" placeholder="Name" type="text" name="name">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.photo" class="form-control" placeholder="Photo Url" type="text" name="photo">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.email" class="form-control" placeholder="Email" type="email" name="email">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.mobile" class="form-control" placeholder="Mobile" type="number" name="mobile">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.company" class="form-control" placeholder="Company" type="text" name="company">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.title" class="form-control" placeholder="Title" type="text" name="title">
                </div>
                <div class="mb-2">
                    <select required="true" [(ngModel)]="contact.groupId" class="form-control" *ngIf="groups.length > 0" name="groupId">
                        <option value="">Select a Group</option>
                        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Create" type="submit">
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img alt="" class="contact-img" [src]="contact.photo">
        </div>
    </div>

</div>